.sidebar {
    position: fixed;
    top: 3px;
    left: 0;

    width: 100%;
    height: 10vh;
    
    background: #7373ac;
    display: flex;
    flex-direction: row;
    padding: 5px;
    gap: 10px;
}

.item {
    display: flex;
    align-items: center;
    gap: 12px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 6px;
    transition: 0.2s;
}

.bottom {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.item:hover {
    background: #2a2a3f;
}

.logo{
    position: fixed;
    left:50%;

    margin-top: 3px;
    
    direction: flex;
    align-self: center;
    
    height: 100px;
    width: 100px;
}