.page{
    margin-top: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    width: calc(100vw - 270px);
    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}

.noteBox{
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    padding: 10px;
}

.saveButton{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 10px;
}