.page{
    margin-top: 25px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
    padding-right: 10px;
    padding-left: 10px;
    box-sizing: border-box;
}

.noteBox{
    width: 90%;
    max-width: 90%;
    min-width: 90%;
    box-sizing: border-box;
    font-size: 16px;
    padding: 10px;
}

.saveButton{
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin-top: 10px;
}