.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    gap:5px;    
}

.pageContainer>h1{
    justify-content:left;
}

.searchBar{
    width: 90vh;
    padding: 5px;
    margin-bottom: 20px;
}