.logo{
    direction: flex;
    align-self: center;
    height: 100px;
    width: 100px;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;         
}

.searchBar{
    width: calc(100vw - 270px);
    padding: 5px;
    margin-bottom: 20px;
}