.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 50vw;
    background-color: hsla(60, 68%, 78%, 0.414);
}

.logo {
    width: 140px;
    height: 140px;
}

.inputForm{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 25px;
}

.labels{
    display: block;
}

.inputs{
    display: flex;
    flex-direction: row;
    align-items:center;
    align-self:flex-end;
    gap: 10px;
    min-height: 20px;
}

.signIn{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items:baseline;
    align-self:flex-end;
    height: 25px;
}