.information{
    padding: 0px 0px 0px 10px;
    display: flex;
    align-items: baseline;
    font-size: 18px;
}

.button{
    width: 100vw;
    padding: 10px;
    margin: 10px;
    background-color: rgb(222, 238, 238);
    border: 1px solid;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.chevron{
    color: #6b6a6a;
    font-size: 22px;
    font-weight: bold;
    margin-left: 10px;
}